body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.main-grid {
  display: grid;
  grid-template-columns: 0.5fr 3fr;
  grid-template-rows: 1fr 6fr;
  grid-template-areas:
    "nav nav"
    "side main";
}

.top-nav {
  display: grid;
  background: #e0f2f1; /* Light blue */
  grid-area: nav;
}

.main-sidebar {
  margin-top: 10px;
  background: #dfe8f1; /* Light grey */
  grid-area: side;
}

.container {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px; /* Add some spacing between grid items */
  margin: 10px 0px 0px 10px;
  height: 580px;
}

/* Styling for each grid item */
.do-now {
  background-color: #4285f4; /* Primary - Blue */
}

.schedule {
  background-color: #9ccc65; /* Green */
}

.delegate {
  background-color: #f9a825; /* Orange */
}

.delete {
  background-color: #e04f44; /* Red */
}

.do-now,
.schedule,
.delegate,
.delete {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: white;
  border-radius: 5px;
  opacity: 0.8; /* Adjusted opacity */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  transition: opacity 0.2s ease-in-out; /* Hover effect */
}

.do-now:hover,
.schedule:hover,
.delegate:hover,
.delete:hover {
  opacity: 1; /* Increased opacity on hover */
}

.form-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

/* Shared styles for form elements */
input[type="text"],
textarea,
input[type="date"],
select.priority-select {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ddd; /* Lighter border color */
  border-radius: 4px;
}

label {
  color: #b4886b;
  font-weight: bold;
  display: block; /* Ensures each label appears on a new line */
}

/* Button style */
button {
  background-color: #3cbc8d; /* Primary color */
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  opacity: 0.8;
}
button:hover{
opacity: 1
}

/* Form container */
.form-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* background overlay */
.background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  backdrop-filter: blur(5px); /* Apply the blur effect */
  z-index: 1; /* Ensure it's behind other content */
  display: none; /* Initially hidden */
}
